<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epic</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <div id="make_field">
      <input id="size" type="text" name="size" value="">
      <button id="size_button" type="button" name="size">Choose battle field size</button>
    </div>

    <table>
      <!-- <tr>
        <td id="0">*</td>
        <td id="1">*</td>
        <td id="2">*</td>
        <td id="3">*</td>
      </tr>
      <tr>
        <td id="4">*</td>
        <td id="5">*</td>
        <td id="6">*</td>
        <td id="7">*</td>
      </tr>
      <tr>
        <td id="8">*</td>
        <td id="9">*</td>
        <td id="10">*</td>
        <td id="11">*</td>
      </tr>
      <tr>
        <td id="12">*</td>
        <td id="13">*</td>
        <td id="14">*</td>
        <td id="15">*</td>
      </tr> -->
    </table>
    <div id="user">
      <h1>Choose a name and team</h1>
      <input id="name" type="text" name="name" value="Madhu">
      <select id="team" name="team">
        <option value="green">Green</option>
        <option value="red">red</option>
      </select>
      <button id="new_user" type="button" name="join">Join</button>
    </div>
    <div class="count">
      <h1 id="green_count"></h1>
      <h1 id="red_count"></h1>
      <h1 id="available_count"></h1>
      <p id="message"></p>
    </div>
  </body>
</html>
