<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Epic</title>
    <style type="text/css">
		/* border and styling for table data */
		td{
			border: 1px solid silver;
			text-align: center;
			width: 40px;
			height: 40px;
		}
    .green{
      background: green;
    }
    .red{
      background: red;
    }


	</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(document). ready(function (){
      // create battlefield

      $('#size_button').click(function(){
        var size=$('#size').val()
        var row_size=Math.floor(Math.sqrt(size))
        var table_row="<tr>"
        // console.log(size)
        for(let i=1; i<=size; i++){
          //append rows when i % row_size==0 else append cells
          let test1=((i-1)%row_size===0)
          let test2=(i-1)!=0
          if(test1 && test2){
            table_row+="</tr>"
            console.log("row",table_row)
            $('table').append(table_row)
            table_row="<tr>"
          }
          table_row+="<td id="+(i-1)+">*</td>"
          console.log("column", table_row)
        }
          table_row+="</tr>"
          $('table').append(table_row)
          $('#make_field').hide()
          // send size to backend
          
      })



      var name;
      var team;
      var count=0
          var socket  = io. connect();
          //hit result
          socket.on('hit_result',function(data){
            // console.log(data)
            count++
            // console.log(count)
            $('#message').html(data)
          })
          // count listening
          socket.on('count',function(data){
            // console.log(data)
            $('#green_count').html("Green: "+data.green)
            $('#red_count').html("Red: "+data.red)
            $('#available_count').html("Available: "+data.available)
          })
          // getting new player
          $('#new_user').click(function(){
            name=$('#name').val()
            team=$('#team').val()
            user={
              name: name,
              team: team,
              location: false
            }
            $('#user').hide()
            socket.emit('new_player',user)
          })
          // listening for battlefiled updates
          socket.on('battlefield',function(data){
            var td;
            for (let i in data){
              // console.log('battlefield', data[i])
              td="td#"+i
              if (data[i].constructor==String||(data[i].team!=team)){
                $(td).html("*")
                $(td).attr("class","star")
              }
              else{
                // console.log(data[i].team)
                $(td).html(data[i].name)
                $(td).addClass(data[i].team)
              }
            }
          })
          $('td').click(function(){
            var hit_location=$(this).attr('id')
            // console.log(hit_location.constructor)
            socket.emit("hit",{location: hit_location, enemy: team, enemy_player: name})
          })
          socket.on('wait_for_opponents', function(){
            alert("Wait for players to play with")
          })
          socket.on('enough_players', function(){
            alert("enough players let's play")
          })

      })
    </script>
  </head>
  <body>
    <div id="make_field">
      <input id="size" type="text" name="size" value="">
      <button id="size_button" type="button" name="size">Choose battle field size</button>
    </div>

    <table>
      <!-- <tr>
        <td id="0">*</td>
        <td id="1">*</td>
        <td id="2">*</td>
        <td id="3">*</td>
      </tr>
      <tr>
        <td id="4">*</td>
        <td id="5">*</td>
        <td id="6">*</td>
        <td id="7">*</td>
      </tr>
      <tr>
        <td id="8">*</td>
        <td id="9">*</td>
        <td id="10">*</td>
        <td id="11">*</td>
      </tr>
      <tr>
        <td id="12">*</td>
        <td id="13">*</td>
        <td id="14">*</td>
        <td id="15">*</td>
      </tr> -->
    </table>
    <div id="user">
      <h1>Choose a name and team</h1>
      <input id="name" type="text" name="name" value="Madhu">
      <select id="team" name="team">
        <option value="green">Green</option>
        <option value="red">red</option>
      </select>
      <button id="new_user" type="button" name="join">Join</button>
    </div>
    <div class="count">
      <h1 id="green_count"></h1>
      <h1 id="red_count"></h1>
      <h1 id="available_count"></h1>
      <p id="message"></p>
    </div>
  </body>
</html>
